<mat-drawer-container class="fixed top-0 right-0" autosize>

  <!-- Toolbar -->
  <mat-toolbar color="primary" class="fixed top-0 z-10">
    <mat-toolbar-row>
      <span>Pokemon Decks</span>
      <div class="w-full"></div>
      <button mat-icon-button (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Card List -->
  <div class="grid mt-10" style="grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));">
    @for (pokemon of pokemons(); track pokemon.name) {
    <app-pokemon-card [pokemon]="pokemon" [disableAdd]="deck() | appIncludes:pokemon.name"
      (add)="addPokemonToDeck(pokemon.name)" (remove)="removePokemonFromDeck(pokemon.name)">
    </app-pokemon-card>
    }
  </div>

  <!-- Loading button -->
  <div class="w-full flex justify-center py-12">
    @if (loading()) {
    <img class="w-16 h-16 loading-spin"
      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg" alt="">
    } @else {
    <button mat-raised-button color="primary" (click)="loadMore()" class="w-96">
      Load More
    </button>
    }
  </div>

  <!-- Deck Drawer -->
  <mat-drawer #drawer class="h-screen !fixed top-0 right-0 w-[500px]" mode="over" position="end">
    @if (deckOfPokemon().length > 0) {
    <div class="p-10 pb-2">
      <mat-form-field class="w-full" appearance="outline">
        <input matInput type="search" placeholder="Search..." (input)="handleDeckSearchInput($event)">
      </mat-form-field>
    </div>

    @if (visibleDeck().length <= 0) { <div class="p-10">
      <div>
        <h2>Nothing found...</h2>
      </div>
      </div>
      }

      @for (card of visibleDeck(); track deck.name) {
      @if (card) {
      <app-pokemon-card [pokemon]="card" [disableAdd]="true"
        (remove)="removePokemonFromDeck(card.name)"></app-pokemon-card>
      }
      }
      } @else {
      <div class="p-10">
        <div>
          <h2>Nothing Yet...</h2>
        </div>
      </div>
      }
  </mat-drawer>

</mat-drawer-container>